
<div class="full-page"  filter-color="black"  id="login-outer">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="content">
      <div class="container">
        <div class="col-md-4 ml-auto mr-auto">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <div class="card card-login card-plain">
              <div class="card-header ">
                <div class="logo-container text-center">
                  <i id="icon" class="fa fa-database" style="text-shadow: rgb(25, 41, 57) 0px 0px 0px, rgb(27, 44, 62) 1px 1px 0px, rgb(30, 48, 66) 2px 2px 0px, rgb(32, 51, 71) 3px 3px 0px, rgb(34, 55, 76) 4px 4px 0px; font-size: 61px; color: rgb(84, 84, 84); height: 133px; width: 133px; line-height: 133px; border-radius: 50%; text-align: center; background-color: rgb(36, 58, 81);"></i>
                </div>
                <h5 class="text-center white-text">Edit <%= resource_name.to_s.humanize %></h5>
                <div class="white-text">
                  <%= f.error_notification %>
                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                  <% end %>
                   <%= render 'layouts/messages'   %>
              </div>
              </div>
              <div class="card-body ">
                <div class="input-group no-border form-control-lg">
                  <span class="input-group-addon">
                    <i class="now-ui-icons users_circle-08"></i>
                  </span>
                  <input class="form-control" autofocus="autofocus" type="email" value="" name="user[email]" id="user_email" placeholder="Enter email" />
                </div>
                <div class="input-group no-border form-control-lg">
                  <span class="input-group-addon">
                    <i class="now-ui-icons text_caps-small"></i>
                  </span>
                  <input class="form-control" type="password" name="user[password]" id="user_password", placeholder="Enter Password" />
                </div>
                <div class="input-group no-border form-control-lg">
                  <span class="input-group-addon">
                    <i class="now-ui-icons text_caps-small"></i>
                  </span>
                  <input class="form-control" type="password" name="user[password_confirmation]" id="user_password_confirmation", placeholder="Enter password confirmation" />
                </div>
              </div>
              <div class="card-footer ">
                <button type="submit" class="btn btn-primary btn-round btn-lg btn-block mb-3">Update Your Account</button>

                <div class="form-group white-text change-to-white">

                </div>
              </div>
              <% end %>
              <h3>Cancel my account <span><%= link_to "Back", :back %></span></h3>
              <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
            </div>

        </div>
      </div>
    </div>
  </div>
