  <div class="full-page"  filter-color="black"  id="login-outer">
      <div class="content">
        <div class="container">
          <div class="col-md-4 ml-auto mr-auto">
            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

              <div class="card card-login card-plain">
                <div class="card-header ">
                  <div class="logo-container text-center">

                    <i id="icon" class="fa fa-database" style="text-shadow: rgb(25, 41, 57) 0px 0px 0px, rgb(27, 44, 62) 1px 1px 0px, rgb(30, 48, 66) 2px 2px 0px, rgb(32, 51, 71) 3px 3px 0px, rgb(34, 55, 76) 4px 4px 0px; font-size: 61px; color: rgb(84, 84, 84); height: 133px; width: 133px; line-height: 133px; border-radius: 50%; text-align: center; background-color: rgb(36, 58, 81);"></i>
                  </div>
                   <div style="color: white !important;">
                    <%= devise_error_messages! %>
                    <%= render 'layouts/messages' %>
                  </div>
                </div>
                <div class="card-body ">
                  <div class="input-group no-border form-control-lg">
                    <span class="input-group-addon">
                      <i class="now-ui-icons users_circle-08"></i>
                    </span>
                    <input class="form-control" autofocus="autofocus" type="email" value="" name="user[email]" id="user_email" placeholder="Enter email" />
                  </div>
                </div>
                <div class="card-footer ">
                  <button type="submit" class="btn btn-primary btn-round btn-lg btn-block mb-3">Send me reset password instructions</button>
                  <div class="pull-left change-to-white pt-2">
                    <h6 class="text-center white-text">
                      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                      <%= link_to "Sign up", new_registration_path(resource_name) %><br />
                      <% end -%>
                    </h6>
                  </div>
                  <div class="pull-right">
                       <h6><%- if controller_name != 'sessions' %>
                      <%= link_to "Log in", new_session_path(resource_name) %><br />
                    <% end -%> </h6>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
