
<div class="container-fluid">


  <p id="notice"><%= notice %></p>

  <h1>Contacts</h1>

  <table>
    <thead>
      <tr>
        <th class="pr-1">First name | </th>
        <th class="pr-1">Prefix | </th>
        <th class="pr-1">First name | </th>
        <th class="pr-1">Middle initial | </th>
        <th class="pr-1">Last name | </th>
        <th class="pr-1">Suffix | </th>
        <th class="pr-1">Title | </th>
        <th class="pr-1">Business emai | l</th>
        <th class="pr-1">Personal email | </th>
        <th class="pr-1">Add email | </th>
        <th class="pr-1">Shared< | </th>
        <th class="pr-1">Phone 1 | </th>
        <th class="pr-1">Phone 2 | </th>
        <th class="pr-1">Comments | </th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td class="pr-1"><%= contact.first_name %></td>
          <td class="pr-1"><%= contact.Prefix %></td>
          <td class="pr-1"><%= contact.first_name %></td>
          <td class="pr-1"><%= contact.middle_initial %></td>
          <td class="pr-1"><%= contact.last_name %></td>
          <td class="pr-1"><%= contact.suffix %></td>
          <td class="pr-1"><%= contact.title %></td>
          <td class="pr-1"><%= contact.business_email %></td>
          <td class="pr-1"><%= contact.personal_email %></td>
          <td class="pr-1"><%= contact.add_email %></td>
          <td class="pr-1"><%= contact.shared %></td>
          <td class="pr-1"><%= contact.phone_1 %></td>
          <td class="pr-1"><%= contact.Phone_2 %></td>
          <td class="pr-1"><%= contact.comments %></td>
          <td class="pr-1"><%= link_to 'Show', contact %></td>
          <td class="pr-1"><%= link_to 'Edit', edit_contact_path(contact) %></td>
          <td class="pr-1"><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Contact', new_contact_path %>
</div>
