<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h1 class="">Companies</h1>

  <table>
    <thead>
      <tr>
        <th class="pr-1">Name | </th>
        <th class="pr-1">Phone | </th>
        <th class="pr-1">Fax | </th>
        <th class="pr-1">Website | </th>
        <th class="pr-1">Owns | </th>
        <th class="pr-1">Rents | </th>
        <th class="pr-1">Industry | </th>
        <th class="pr-1">Sf using | </th>
        <th class="pr-1">Sic code | </th>
        <th class="pr-1">Source of name | </th>
        <th class="pr-1">Suite | </th>
        <th class="pr-1">Total employees | </th>
        <th class="pr-1">Location requirements | </th>
        <th class="pr-1">Year founded | </th>
        <th class="pr-1">Data checked | </th>
        <th class="pr-1">Exclussive | </th>
        <th class="pr-1">Active | </th>

      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td class="pr-1"><%= company.name %></td>
          <td class="pr-1"><%= company.phone %></td>
          <td class="pr-1"><%= company.fax %></td>
          <td class="pr-1"><%= company.website %></td>
          <td class="pr-1"><%= company.owns %></td>
          <td class="pr-1"><%= company.rents %></td>
          <td class="pr-1"><%= company.industry %></td>
          <td class="pr-1"><%= company.SF_using %></td>
          <td class="pr-1"><%= company.sic_code %></td>
          <td class="pr-1"><%= company.source_of_name %></td>
          <td class="pr-1"><%= company.suite %></td>
          <td class="pr-1"><%= company.total_employees %></td>
          <td class="pr-1"><%= company.location_requirements %></td>
          <td class="pr-1"><%= company.year_founded %></td>
          <td class="pr-1"><%= company.data_checked %></td>
          <td class="pr-1"><%= company.exclussive %></td>
          <td class="pr-1"><%= company.active %></td>
          <td class="pr-1"><%= link_to 'Show', company %></td>
          <td class="pr-1"><%= link_to 'Edit', edit_company_path(company) %></td>
          <td class="pr-1"><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Company', new_company_path %>
</div>
